################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Rendering
/__pycache__
/yed.jar - Verknüpfung.lnk
/Timing.py
/RenderTutorial
